@charset "utf-8";

@media screen and (min-width: 1350px) {
  .wrap {
    width: 1300px;
    margin: 0 auto;
  }
  .wrap p {
    color: #444;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (min-width: 700px) and (max-width: 1349px) {
  .wrap {
    width: 95%;
    margin:0 auto;
  }
  .wrap > p {
    font-size:14px;
    color: #444;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width:699px) {
  .wrap {
    width: 95%;
    margin: 0 auto;
  }
  .wrap > p {
    font-size:14px;
    color: #444;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 14px;
    font-weight: 400;
  }
  .header > p > span{
    display:none;
  }
}