@charset "utf-8";

@media screen and (min-width: 1350px) {
  .wrap {
    width: 1300px;
    margin: 0 auto;
  }
  .wrap p {
    color: #444;
  }
  h1 a{font-size:28px; letter-spacing:-0.05em;text-transform:capitalize;}
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 16px;
    font-weight: 400;
  }
  .goal, .think, .lang{
    padding:10px;
    margin:0 0 10px 0;
    background:#eee;
    border-radius:10px;
  }
  .mind, .book, .definitionã„¹, .biz{
    padding:10px;
    margin:0 0 10px 0;
    background:#fcfcfc;
    border-radius:10px;
    box-shadow:0 0 10px 0 #88888833;
  }
  
  footer{
    width:100%;
    height:100px;
    background:#888;
  }
  .foot{
    width:100%;
    height:100%;
}
@media screen and (min-width: 700px) and (max-width: 1349px) {
  .wrap {
    width: 95%;
    margin:0 auto;
  }
  .wrap p {
    font-size:14px;
    color: #444;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 14px;
    font-weight: 400;
  }
  .goal, .think, .biz{
    padding:10px;
    margin:0 0 10px 0;
    background:#eee;
    border-radius:10px;
  }
  .mind, .book, .definition, .lang{
    padding:10px;
    margin:0 0 10px 0;
    background:#fcfcfc;
    border-radius:10px;
    box-shadow:0 0 10px 0 #88888833;
  }

  .foot{
    height:100px;
    background:#888;
  }
}

@media screen and (max-width:699px) {
  .wrap {
    width: 95%;
    margin: 0 auto;
  }
  .wrap p {
    font-size:14px;
    color: #444;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > p {
    font-size: 14px;
    font-weight: 400;
  }
  .header > p > span{
    display:none;
  }
  .goal, .think, .biz{
    padding:10px;
    margin:0 0 10px 0;
    background:#eee;
    border-radius:10px;
  }
  .mind, .book, .definition, .lang{
    padding:10px;
    margin:0 0 10px 0;
    background:#fcfcfc;
    border-radius:10px;
    box-shadow:0 0 10px 0 #88888833;
  }

  .foot{
    height:100px;
    background:#888;
  }
}
