@charset "utf-8";

.main-wrap{
  width:1300px; margin:0 auto;
}
.main-wrap>h2{
  background:#eee;
  padding:5px 0 5px 10px;
  margin:0 0 5px 0;
}

.month>li{
  width:150px;
}
.month>li>a{
  padding:10px 0;
  width:100%; text-align:center;
  background:#ddd;
}
.month>li:hover .day{
  display:block;
}

.day{
  display:none;
}
.day>li>a{
  background:#eee;
}
.day>li>a{
  text-align:center;
  padding:5px 0;
}