@charset "utf-8";

.main-wrap{
  width:1300px; margin:0 auto;
}
.main-wrap>h2{
  background:#eee;
  padding:5px 0 5px 10px;
  margin:0 0 5px 0;
}

section{
  display:flex;
}

.month>li{
  width:150px;
}
.month>li>a{
  padding:10px 0;
  width:100%; text-align:center;
  background:#ddd;
}
.month>li:hover .day{
  display:block;
  height: 100%;
  opacity:1;
}

.day{
  height:0;
  opacity:0;
  display:none;
  transition:.5s ease;
}
.day>li>a{
  background:#eee;
  text-align:center;
  padding:5px 0;
}
.day>li>a:hover{
  background:#ccc; color:#fff;
}